***LISTS***

In [ ]:
fruits = ['apple', 'orange', 'banana', 'grape', 'kiwi']

user_input = input("Enter the fruit: ")
if user_input in fruits:
    print(f'Yes, {user_input} is in our list of fruits!')
else:
    print(f'No, {user_input} is not in our list of fruits!')

Enter the fruit: apple
Yes, apple is in our list of fruits!

In [ ]:
numbers = [1, 20, 35, 400, 5]
number = int(input("Please enter your number: "))

if number in numbers:
  if (number % 2 == 0):
    print(f'Yes, {number} is on the list, and it is an even number.')
  else:
    print(f'No, {number} is on the list, and it is an odd number.')
else:
  print(f"No, {number} is not on the list!")

Please enter your number: 400
Yes, 400 is on the list, and it is an even number.

**LIST METHODS**

In [ ]:
# APPEND

items = ["apple", "kiwi", "orange"]
print(f"original items: {items}")

my_value = "banana"
items.append(my_value)
print(f"updated version of items: {items}")

original items: ['apple', 'kiwi', 'orange']
updated version of items: ['apple', 'kiwi', 'orange', 'banana']

In [ ]:
# COPY

original_list = [1, 2, 3, 4, 5]
copied_list = original_list.copy()

original_list.append(6)
print(original_list) #[1, 2, 3, 4, 5, 6]
print(copied_list) #[1, 2, 3, 4, 5]

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5]

In [ ]:
# COUNT

numbers = [1, 2, 4, 7, 5, 2, 2]

numbers.count(2) #3

target_number = 2
count = numbers.count(target_number)
print(f"The number '{target_number}' appears {count} times in our list!")

The number '2' appears 3 times in our list!

In [ ]:
# INDEX

fruits = ["apple", "banana", "orange"]
fruits_index = fruits.index("banana")
print(f"index of 'banana' is: {fruits_index}")

index of 'banana' is: 1

In [ ]:
# INSERT
fruits = ["apple", "banana", "orange"]
fruits.insert(2, "kiwi")
print(fruits)

['apple', 'banana', 'kiwi', 'orange']

In [ ]:
# REMOVE the 1st occurence of the element
fruits = ["apple", "banana", "orange"]
fruits.pop(2)
print(fruits)

numbers = [1, 2, 10, 3, 4, 5]
popped_element = numbers.pop(2)
print(popped_element)
print(numbers)

['apple', 'banana']

In [ ]:
# SORT
numbers = [1, 2, 7, 4, 10, 3]
numbers.sort()
print(numbers)

[1, 2, 3, 4, 7, 10]

In [ ]:
# REVERSE
numbers = [1, 2, 7, 4, 10, 3]
numbers.sort()
numbers.reverse()
print(numbers)

[10, 7, 4, 3, 2, 1]

In [ ]:
numbers = [1, 6, 13, 2, 5]

max_value = max(numbers)
print(f"The maximum value in the list is: {max_value}")

min_value = min(numbers)
print(f"The minimum value in the list is: {min_value}")

average_value = sum(numbers) / len(numbers)
print(f"The average value in the list is: {average_value}")

# if the average val is higher than 3
if average_value > 3:
  print("The average value of numbers in the list is higher than 3")
else:
  print("The average value of numbers on the list is lower than 3")

#sorting
numbers.sort()

#removing 1st element
numbers.pop(0)

#adding my name to the list
numbers.append("Elina")

#index of my name
numbers.index("Elina")

The maximum value in the list is: 13
The minimum value in the list is: 1
The average value in the list is: 5.4
The average value of numbers in the list is higher than 3

4